form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

label {
  margin: 5px 0;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

p {
  color: red;
  font-size: 12px;
}


nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: blue;
}

